@import '../bower_components/bootstrap/less/bootstrap.less';

@base:#269;

@headings-font-family: 'Roboto';

.top {
	// background-color:#269;
	//padding: 20px;
	text-align: center;
	background-color: lighten(@base, 10%);
	background-image: linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
	linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	h1 {
		font-size: @font-size-h1*2.5;
		position: absolute;
		width: 50%;
		 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
		color: #fff;
		font-weight: 100;
		text-shadow: 0 0 15px #ccc;
		height: 100px;

	}
	height: 300px;
	position: relative;

	.inputfield {
		position: absolute;
		bottom: -23px;
		width: 50%;
		left: 25%;
	}
}
.bottom {
	padding-top: 50px;

	.result_container, .error_container {

		padding-bottom: 5px;

		.result, .error {
			text-align: center;
			margin-top: 0;
		}

		.error {
			color: @brand-danger;
		}
	}

	footer {
		text-align: center;
		text-transform: uppercase;
		color: @gray-light;
	}
}