@import '../bower_components/bootstrap/less/bootstrap.less';

@base:#269;

@headings-font-family: 'Roboto';

.top {
	text-align: center;
	background-color: lighten(@base, 10%);
	height: 70px;

	h1 {
		margin: auto;
		color: #fff;
		font-weight: 100;
		text-shadow: 0 0 15px #ccc;
		padding-top: 17px;
	}

	// @media (max-width: @grid-float-breakpoint-max) {
	// }
}

.varrow {
	margin: 0 auto !important;
	padding-bottom: 10px;
}

.varinput {
	display: flex;
	width: 70%;
	input {
		border-radius: 0;
		border-left: none;
		border-right: none;

		&:first-child {
			border-left: 1px solid #ccc;
			border-top-left-radius: @border-radius-base;
			border-bottom-left-radius: @border-radius-base;
		}
		
	}

	.separator {
		width: 10%;
		font-size: 14px;
		line-height: 1.42857143;
		height: 34px;
		background: @gray-lighter;
		font-weight: bold;
		padding: 7px 12px 8px 12px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}

	input:last-child, .separator:last-child {
		border-right: 1px solid #ccc;
		border-top-right-radius: @border-radius-base;
		border-bottom-right-radius: @border-radius-base;
	}
}

.result_container, .error_container {
	
}

.error_container {
}

.result_container {
	// border-color: @brand-success;
	// border-top: none;
}

.bottom {
	padding-top: 30px;

	footer {
		text-align: center;
		text-transform: uppercase;
		color: @gray-light;
	}
}

.new-ui {
	.well {
		padding: 0;
		border: none;
		background: transparent;
	}

	.input-group-lg {
		input {
			border-bottom-left-radius: 0;
		}
		
		button {
			border-bottom-right-radius: 0 !important;
		}
	}

	.tab {
		background: @well-bg;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	.nav-tabs {
		border-top: 1px solid #ccc;
		border-bottom: none;

		a {

			border-radius: 0 0 4px 4px;
		}

		li {
			margin-top: -1px;
			margin-bottom: 0;
		}

		li.active a {
			border-color: #ccc;
			// border-bottom-color: #ccc;
			border-top-color: transparent;
		}
	}

	.results-tab, .variables-tab {
		padding: 10px;
	}
}